<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/logos/favicon.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
    <title>Depart - Arrivee</title>
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                <a th:href="@{#}" class="text-nowrap logo-img">
                    <img th:src="@{/assets/images/logos/dark-logo.svg}" width="180" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <a class="sidebar-link active" th:href="@{#}" aria-expanded="false">
                            <span class="hide-menu">Listes des étapes</span>
                        </a>
                    </li>
                </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="container-fluid">
                  <div class="card">
                    <div class="card-body">
                      <div class="card">
                        <div class="card-body">
                          <H2><b th:text="${coureur.getNomCoureur()}" ></b> </H2><br>
                          <form action="/admin/coureur/insertTime" th:object="${coureur}" method="get">
                                <!-- class="form-control" -->
                                <input type="hidden" name="idEtape" th:value="${idEtape}" >
                                <input type="hidden" name="idCoureur" th:value="${idCoureur}" th:field="*{idCoureur}">
                                <p th:text="${idEtape}"></p>
                                <div class="mb-3">
                                    <label for="" class="form-label">Départ</label>
                                    <input type="datetime-local" name="depart" class="form-control" placeholder="insérer la date de départ" >
                                </div>
                                 <!-- class="form-control" -->
                                 <div class="mb-3">
                                    <label for="" class="form-label">Date arrivée</label>
                                    <input type="datetime-local" name="arrivee" class="form-control" placeholder="insérer la date d'arrivée">
                                </div>
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        </div>

    </div>
</body>
</html>